.jumbotron {
background-color: #E3FFFD;
color: black;
margin-top: 50px;
}

footer {
padding: 10px 10px 0 10px;
background-color:#E3FFFD;
margin-bottom: 0px;
margin-top: 20px;
}

.card-blog {
flex: 1 200px;
margin-top: 10px;
}

.btn-visit {
width: 100%;
border-radius: 0px;
}

.footer-address-icon {
padding-right: 10px;
color: blue;
}

.rd-social {
margin-bottom: 20px;
}

.fa-circle-outline {
font-size: 36px;
}

.fa-logo {
font-size: 26px;
}

.tab-content {
	padding-top: 10px;
}