.jumbotron {
  background-color: #8be2fc;
  color: black;
  margin-top: 50px;
  margin-bottom: 30px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #8be2fc;
  margin-top: 20px;
  margin-bottom: 0px;
}
.card-blog {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-visit {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
  color: blue;
}
.rd-social {
  margin-bottom: 20px;
}
.fa-circle-outline {
  font-size: 36px;
}
.fa-logo {
  font-size: 26px;
}
.tab-content {
  padding-top: 10px;
}
.navbar {
  background: #8be2fc;
  border-style: solid;
  border-color: #8be2fc #8be2fc #edfffe;
}
