$blue: #8be2fc;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
background-color: $blue;
color: black;
@include margenes(50px, 30px);
}

footer {
padding: 10px 10px 0 10px;
background-color: $blue;
@include margenes(20px, 0px);
}

.card-blog {
flex: 1 200px;
@include margenes(10px, 0px);
}

.btn-visit {
width: 100%;
border-radius: 0px;
}

.footer-address-icon {
padding-right: 10px;
color: blue;
}

.rd-social {
margin-bottom: 20px;
}

.fa-circle-outline {
font-size: 36px;
}

.fa-logo {
font-size: 26px;
}

.tab-content {
	padding-top: 10px;
}

.navbar {
  background: $blue;
  border-style: solid;
  border-color: $blue $blue #edfffe;
  }